version: '3'

services:
  mcserver:
    image: itzg/minecraft-server
    container_name: mcserver
    ports:
      - "25565:25565"
      - "25575:25575"
    volumes:
      - "./data/mcserver:/data"
      - "./mods:/data/mods"
      - "./downloads:/downloads"
    environment:
      TZ: "America/Argentina/Buenos_Aires"
      EULA: "TRUE"
      SERVER_NAME: ${SERVER_NAME}
      ENABLE_QUERY: ${ENABLE_QUERY}
      ENABLE_RCON: ${ENABLE_RCON}
      QUERY_PORT: ${QUERY_PORT}
      RCON_PORT: ${RCON_PORT}
      RCON_PASSWORD: ${RCON_PASSWORD}
      DIFFICULTY: ${DIFFICULTY}
      MAX_PLAYERS: ${MAX_PLAYERS}
      ONLINE_MODE: ${ONLINE_MODE}
      ALLOW_FLIGHT: ${ALLOW_FLIGHT}
      HARDCORE: ${HARDCORE}
      #MEMORY: ${MEMORY}
      INIT_MEMORY: ${INIT_MEMORY} 
      MAX_MEMORY: ${MAX_MEMORY}
      TYPE: ${TYPE}
      VERSION: ${VERSION}
      WHITELIST: ${WHITELIST}
      OPS: ${OPS}
      SPAWN_PROTECTION: 0
      MOTD: "${MOTD}"
      CF_API_KEY: "${CF_API_KEY}"
      CF_SERVER_MOD: "${CF_SERVER_MOD}"
      #CF_PAGE_URL: "https://www.curseforge.com/minecraft/modpacks/cave-horror-project"
      #FETCH_TLS_HANDSHAKE_TIMEOUT: "PT40S"
      #CF_OVERRIDES_EXCLUSIONS: mods/create_recycle*.jar
      #CF_IGNORE_MISSING_FILES: |
      #  mods/create_recycle_1.0.2_forge_1.20.1.jar
    restart: unless-stopped
    networks:
      - minecraft
  mcrcon:
    image: itzg/rcon
    container_name: mcrcon
    ports:
      - "4326:4326"
      - "4327:4327"
    volumes:
      - "./data/rcon:/opt/rcon-web-admin/db"
    environment:
      - TZ="America/Argentina/Buenos_Aires"
      - RWA_PASSWORD=${RWA_PASSWORD}
      - RWA_RCON_HOST=mcserver
      - RWA_RCON_PASSWORD=${RCON_PASSWORD}
      - ENABLE_AUTOPAUSE=true
      - MAX_TICK_TIME=-1
    depends_on:
      - mcserver
    restart: unless-stopped
    networks:
      - minecraft

volumes:
  mcserver: 
  mcrcon:

networks:
  minecraft:
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: 800
